
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=7Ke9tmxQPOKn63z3UzK72A==,uWU9jkt65ibkm5BoKYjxKw==,Ol4DLOMgtFlnpU0QooLkOw==,8fbrICTvjgPWX3D2eFXT0A==
API_TOKEN_SALT=cKWKadvDihIcQbooSi5heg==
ADMIN_JWT_SECRET=++kBgWXsWWNHv5aHxEhxSQ==
TRANSFER_TOKEN_SALT=YuK4FFzYgJKf7MueoREV4Q==
ENCRYPTION_KEY=zbdmcUpq5JE5oHsGB45JcA==

# Database
DATABASE_CLIENT=mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=pulsar-db
DATABASE_USERNAME=pulsar
DATABASE_PASSWORD=pulsar
DATABASE_SSL=false
DATABASE_FILENAME=
